<title>分页</title>

{% block css %}
<link rel="stylesheet" href="/media/css/fenye.css">
{% endblock %}

{% block body %}
<div class="list">
    <table>
        <caption>人员信息表</caption>
        <tr>
            <th>id</th>
            <th>value</th>
            <th>password</th>
        </tr>
    {% for obj in data %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.value }}</td>
            <td class="pwd">
                <div id="pwd"><a href="javascript: showpwd({{obj.id}})">显示密码</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{{ page_url | safe }}
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/fenye.js"></script>
{% endblock %}